In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r"D:\Warrington_council\Warrington_deprivation_index\Council_spending\data\all_data_sorted.csv")

df.head()

,ORGANISATIONAL UNIT,EXPENDITURE CATEGORY,DATE (POSTING DATE),TRANSACTION NUMBER,AMOUNT,SUPPLIER NAME,Year,Month
0,Care Purchase East Team,Supported Accommodation,17/01/2020,1.900509e+09,4466.0,Macintyre Care,2020,January
1,Care Purchase South Team,CP Residential EMI,06/01/2020,1.900505e+09,2260.0,Heathfield Residental Home,2020,January
2,Care Purchase South Team,CP Residential EMI,06/01/2020,1.900504e+09,2260.0,HC-One Oval Ltd Birch Court,2020,January
3,Care Purchase Central Team,CP Residential EMI,06/01/2020,1.900504e+09,2260.0,HC-One Oval Ltd Birch Court,2020,January
4,Care Purchase East Team,CP Residential EMI,06/01/2020,1.900504e+09,2260.0,HC-One Oval Ltd Birch Court,2020,January

In [4]:
df.columns

Index(['ORGANISATIONAL UNIT', 'EXPENDITURE CATEGORY', 'DATE (POSTING DATE)',
       'TRANSACTION NUMBER', 'AMOUNT', 'SUPPLIER NAME', 'Year', 'Month'],
      dtype='object')