In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r"D:\Warrington_council\Warrington_deprivation_index\Council_spending\data\all_data_sorted.csv")

df.head()

,ORGANISATIONAL UNIT,EXPENDITURE CATEGORY,DATE (POSTING DATE),TRANSACTION NUMBER,AMOUNT,SUPPLIER NAME,Year,Month
0,Care Purchase East Team,Supported Accommodation,17/01/2020,1.900509e+09,4466.0,Macintyre Care,2020,January
1,Care Purchase South Team,CP Residential EMI,06/01/2020,1.900505e+09,2260.0,Heathfield Residental Home,2020,January
2,Care Purchase South Team,CP Residential EMI,06/01/2020,1.900504e+09,2260.0,HC-One Oval Ltd Birch Court,2020,January
3,Care Purchase Central Team,CP Residential EMI,06/01/2020,1.900504e+09,2260.0,HC-One Oval Ltd Birch Court,2020,January
4,Care Purchase East Team,CP Residential EMI,06/01/2020,1.900504e+09,2260.0,HC-One Oval Ltd Birch Court,2020,January

In [3]:
df.columns

Index(['ORGANISATIONAL UNIT', 'EXPENDITURE CATEGORY', 'DATE (POSTING DATE)',
       'TRANSACTION NUMBER', 'AMOUNT', 'SUPPLIER NAME', 'Year', 'Month'],
      dtype='object')

In [4]:
# Converting to DataFrame
value_counts = df["EXPENDITURE CATEGORY"].value_counts()
value_counts_df = value_counts.reset_index()
value_counts_df.columns = ['EXPENDITURE CATEGORY', 'COUNT']
value_counts_df

                                  EXPENDITURE CATEGORY  COUNT
0                                  CP-Domicil.External  23972
1                        CP Free Nursing Care External  15579
2                              Supported Accommodation  15134
3                                  CP-LongStayExternal  14116
4                                      Direct Payments  12180
..                                                 ...    ...
333                                    SLA - Childcare      1
334  Equipment & Furniture Capital Expenditure (Sch...      1
335                                     Contract Works      1
336                                     Transport-F.E.      1
337     Covid-19 Household Support Fund 4 - April 2023      1

[338 rows x 2 columns]

In [5]:
# Converting to DataFrame
value_counts1 = df["ORGANISATIONAL UNIT"].value_counts()
value_counts_df1 = value_counts1.reset_index()
value_counts_df1.columns = ['EXPENDITURE CATEGORY', 'COUNT']
value_counts_df1

                 EXPENDITURE CATEGORY  COUNT
0                Care Purchase - West  26295
1                Care Purchase - East  24556
2               Care Purchase - South  24539
3             Care Purchase - Central  21667
4                Care Purchase Budget  15336
..                                ...    ...
808    SCM St Barnabas Primary School      1
809                  Interest Payable      1
810  SCM St Benedict's Primary School      1
811                      NHMF Lottery      1
812          Academy Conversion Costs      1

[813 rows x 2 columns]

In [6]:
value_counts_df.to_csv('expenditure_category_counts.csv', index=False)

In [7]:
category_mapping = {
    "Healthcare": [
        "CP-Domicil.External",
        "CP Free Nursing Care External",
        "CP-LongStayExternal",
        "CP Residential EMI",
        "CP-Nursing Care-External",
        "CP Nursing EMI",
        "CP Adult Placement",
        "Post Mortem Fees-Rep",
        "CP Rehab",
        "CP-Day Care-External",
        "Health Awareness",
        "Drug Action",
        "Public Health Contract Payments",
        "CP ExternalOther Exp",
        "CP - Employment - External",
        "CP Respite",
        "CP - Housing with Care - External",
        "Respite Residential EMI",
        "Respite Nursing EMI",
        "CP - Intermediate Care - External",
        "People with Mental Health Problems",
        "People with Physical or Sensory Disabilities",
        "Medical & Hygiene Supplies",
        "CP - Cont Care - External",
        "Public Health - Superannuation"
    ],

    "Childcare": [
        "Fostering Allowance",
        "Private & Voluntary 3 Year Olds",
        "Fostering Accommodation",
        "Private & Voluntary 4 Year Olds",
        "Adoption Allowance",
        "Looked after children in Warrington",
        "Children's Activities",
        "Kinship",
        "Looked After Children Pupil Premium",
        "After Adoption Support"
    ],

    "COVID-19 Related": [
        "Supplies & Services - Covid 19",
        "Covid-19 Local Support Grant (was Winter Grant)",
        "Covid-19 ARG repeat national lockdown 3",
        "Covid-19 LRSG National lockdown 3",
        "Covid-19 LRSG repeat 16 Feb to 31 March",
        "Covid-19 Additional Restrictions Grant",
        "Covid-19 Restart Strand 2",
        "Covid-19 Isolation Grant (Test & Trace)",
        "Covid-19 ARG 2021/2022 Strand 1",
        "Covid-19 Restart Strand 1",
        "Covid-19 LRSG phase 2 open",
        "Covid-19 ARG 2021/2022 Strand 2",
        "Covid-19 Omicron Hospitality, Leisure & Accommodat",
        "Covid-19 LRSG tier 4",
        "Covid-19 ARG Early Years",
        "Covid-19 Small Business Grants (not NNDR)",
        "Covid-19 LRSG Phase 2 Tier 3 Entertainment Closed",
        "Covid-19 LRSG Phase 2 £1000",
        "Covid-19 LRSG Phase 2 Sector",
        "Covid-19 LRSG Phase 2 Tier 3 Entertainment Closed",
        "Covid-19 LRSG Phase 2 £1000",
        "Covid-19 Household Support Fund 3 Oct 2022",
        "Covid-19 Household Support Fund 4 - April 2023"
    ],

    "Operational Costs": [
        "Agency Supply - GF",
        "Agency Supply",
        "Materials",
        "Payments To Operator",
        "Specific Work",
        "Fct Cat1",
        "External Printing",
        "Stationery",
        "Provisions-Purchase",
        "M.C.R.Flexible Cat1",
        "Agency Supply",
        "Fct Repairs",
        "External SLA",
        "Sundries",
        "DT - General Office Expense"
    ],

    "Financial": [
        "Direct Payments",
        "Fees (Including Agents Fees)",
        "Payment of Grants",
        "Individual Service Funds",
        "Subscriptions",
        "NNDR",
        "C.T. Inc Due For Yr",
        "Bank Charges",
        "Insurance Premium",
        "Insurance Claims",
        "Corporate Initiative",
        "Purchase of Land",
        "Council Tax Income Due For Year",
        "Input Tax",
        "Treasury Project Costs",
        "Payroll Control Account",
        "Council Tax Rebate ? Main"
    ],

    "Housing": [
        "Supported Accommodation",
        "Emergency Accommodation Allowance",
        "Rent Of Premises",
        "Rent Gatewarth",
        "Voids",
        "Accommodation Allowance"
    ],

    "Transport": [
        "Car Leasing Charges",
        "Vehicle Hire Charges",
        "Transport-Snad Cot",
        "Mainstream Pupil Transport",
        "Transport SLA",
        "Bus Passes",
        "Further Education Transport",
        "Travel Allowance",
        "Railcards",
        "Transport-Further Education"
    ],

    "Utilities": [
        "Electricity",
        "Water & Sewerage Chg",
        "Gas",
        "Lighting Energy Char",
        "Oil - Gas",
        "Safe & Secure Energy House Assistance"
    ],

    "Maintenance": [
        "Equipment Purchase & Contract",
        "Maintenance of Plant & Machinery",
        "Response Maintenance",
        "Clean Repair Drains",
        "Maintenance Work - Sub Contractors",
        "Minor Adaptations<750",
        "Annual Maintenance",
        "Maintenance",
        "Ceiling Track Hoist",
        "CRA2 Site Maintenance"
    ],

    "Technology": [
        "Computer Software - Maintenance",
        "Computer Hardware - Purchase",
        "Computer Software - Purchase",
        "ICT Comms - Line Rental",
        "Computer Hardware - Maintenance",
        "ICT Comms - Equipment Purchase",
        "ICT Comms - Device Usage",
        "ICT Comms - Device Maintenance",
        "ICT Comms - Line Maintenance",
        "ICT Comms - Device Purchase",
        "ICT Comms - Device Rental",
        "Computer Software - Curriculum",
        "ICT Comms - Line Purchase",
        "ICT Comms - Line Usage",
        "Data Storage"
    ],

    "Legal": [
        "Residence Orders",
        "Legal Costs Incurred",
        "Bailiff Fees",
        "Section 17 (Child Act)",
        "Court Costs",
        "Land Registry Fees",
        "Appeals Costs"
    ],

    "Education": [
        "Statemented - Special Unit Pupil Transpo",
        "Training",
        "Eotas Pupil Funding",
        "Learning Resources",
        "Apprenticeship Levy",
        "16-19 Bursary Fund (Expenditure)",
        "Independent School Fees",
        "School Access Fund Books",
        "Examination Fees",
        "Text Books",
        "Educational Visits",
        "Equipment & Furniture Capital Expenditure (Schools)"
    ],

    "Security and Safety": [
        "Security Systems",
        "Safety Fences Cat1",
        "Security Guards",
        "Making Safe Property",
        "CRB Checks"
    ],

    "Construction and Repairs": [
        "Building Work",
        "Environmental Works",
        "Lifts from Stock",
        "Carriageway-Resurfacing",
        "Bridges - Structural",
        "Road Markings Cat1",
        "Footway Reconstruct.",
        "Surface Dressing-Carriageway",
        "Sign Maintenance Cat1",
        "Road Fund Licences",
        "Illuminated Signs Works Order Repairs",
        "Ceiling Track Hoist"
    ],

    "Waste Management": [
        "Residual Waste Disposal",
        "Diverted Waste",
        "Green Waste Treatment",
        "Waste Initiatives",
        "Hazardous Waste",
        "Bulky Waste Collections",
        "MRF Recycling",
        "Bring Site Charges",
        "Trade Refuse Charges",
        "Nappy Recycling Services"
    ]
}

In [8]:
# Reverse the mapping dictionary
reversed_category_mapping = {item: category for category, items in category_mapping.items() for item in items}

# Apply the mapping to create a new 'General Category' column in the DataFrame
df['General Category'] = df['EXPENDITURE CATEGORY'].map(reversed_category_mapping)

# For categories not covered in the mapping, they will be assigned to 'Miscellaneous Expenses'
df['General Category'].fillna('Miscellaneous Expenses', inplace=True)

# Print the DataFrame with the new 'General Category' column
df.head()

,ORGANISATIONAL UNIT,EXPENDITURE CATEGORY,DATE (POSTING DATE),TRANSACTION NUMBER,AMOUNT,SUPPLIER NAME,Year,Month,General Category
0,Care Purchase East Team,Supported Accommodation,17/01/2020,1.900509e+09,4466.0,Macintyre Care,2020,January,Housing
1,Care Purchase South Team,CP Residential EMI,06/01/2020,1.900505e+09,2260.0,Heathfield Residental Home,2020,January,Healthcare
2,Care Purchase South Team,CP Residential EMI,06/01/2020,1.900504e+09,2260.0,HC-One Oval Ltd Birch Court,2020,January,Healthcare
3,Care Purchase Central Team,CP Residential EMI,06/01/2020,1.900504e+09,2260.0,HC-One Oval Ltd Birch Court,2020,January,Healthcare
4,Care Purchase East Team,CP Residential EMI,06/01/2020,1.900504e+09,2260.0,HC-One Oval Ltd Birch Court,2020,January,Healthcare

In [9]:
df['General Category'].value_counts()

Healthcare                  90039
Childcare                   22673
Financial                   20611
Miscellaneous Expenses      20012
COVID-19 Related            17413
Housing                     16058
Operational Costs           10942
Legal                        6298
Education                    6014
Maintenance                  4937
Transport                    3672
Utilities                    3520
Construction and Repairs     2084
Technology                   1757
Waste Management              698
Security and Safety           613
Name: General Category, dtype: int64

In [10]:
df.to_csv("final_sheet.csv",index=False)

In [11]:
df.columns

Index(['ORGANISATIONAL UNIT', 'EXPENDITURE CATEGORY', 'DATE (POSTING DATE)',
       'TRANSACTION NUMBER', 'AMOUNT', 'SUPPLIER NAME', 'Year', 'Month',
       'General Category'],
      dtype='object')

In [13]:
total_amount_year = df.groupby('Year')['AMOUNT'].sum()
total_amount_year

Year
2020    2.781578e+08
2021    2.984181e+08
2022    2.974120e+08
2023    2.174312e+08
Name: AMOUNT, dtype: float64